.breadcrumb {
    margin-top: 0;
    padding: 8px 15px;
    margin-top: 64px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.bread {
    height: 3%;
    background-color: #edf0f2;
    margin-bottom: 0%;
}

.bread-item {
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    text-decoration: none;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"
}

.breadcrumb>.active {
    color: #666666;
    font-size: 14px;
}