<nav aria-label="breadcrumb" *ngIf="label">
    <ol class="breadcrumb bread">
        <li class="breadcrumb-item">
            <a class="bread-item" href="wps/myportal/autogestion/index.html">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{label}}</li>
    </ol>
</nav>