<div class="" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="background-color: #1F8A4D">
    <img style="height: 30px; margin-left: 8px;" class="mt-3" src="assets/images/logoHDI-2.png">
</div>
<div style="background-color: #1F8A4D" class=" py-3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7px">
    <div class="nombre">

    </div>
</div>
<div class="mt-3">
    <mat-nav-list>
        <a style="color: white" mat-list-item class="item-barra item-font" routerLink="/dashboard">
            <i style="color: white" class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;Resumen
        </a>
    </mat-nav-list>
    <mat-accordion multi="true" [displayMode]="displayMode">
        <mat-expansion-panel class="no-shadow item-submenu item-font">
            <mat-expansion-panel-header fxLayout=" row " class="item-barra" [expandedHeight]="expandHeight " [collapsedHeight]="collapseHeight ">
                <mat-panel-title class="item-font">
                    <i class="fas fa-file-alt"></i>&nbsp;&nbsp;Pólizas
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="isLogedIn()">
                <mat-nav-list class="ml-0 " dense>
                    <ng-container *ngIf="autos">
                        <polizas-submenu [lista]="polizasAutos" titulo="Automóviles" icono="assets/images/icons/icon-auto.png"></polizas-submenu>
                    </ng-container>
                    <ng-container *ngIf="riesgosVarios">
                        <polizas-submenu [lista]="polizasRv" titulo="Riesgos varios" icono="assets/images/icons/icon-riesgos.png"></polizas-submenu>
                    </ng-container>
                    <ng-container *ngIf="vida">
                        <polizas-submenu [lista]="polizasVida" titulo="Vida obligatorio" icono="assets/images/icons/icon-vida.png"></polizas-submenu>
                    </ng-container>
                    <ng-container *ngIf="hogar">
                        <polizas-submenu [lista]="polizasHogar" titulo="Combinado Familiar" icono="assets/images/icons/icon-combinado.png"></polizas-submenu>
                    </ng-container>
                    <ng-container *ngIf="ap">
                        <polizas-submenu [lista]="polizasAp" titulo="Acc. personales" icono="assets/images/icons/icon-accidentes.png"></polizas-submenu>
                    </ng-container>
                    <ng-container *ngIf="integralConsorcio">
                        <polizas-submenu [lista]="polizasConsorcio" titulo="Integral de consorcio" icono="assets/images/icons/icon-consorcio.png"></polizas-submenu>
                    </ng-container>
                    <ng-container *ngIf="integralComercio">
                        <polizas-submenu [lista]="polizasIntegralComercio" titulo="Integral de comercio" icono="assets/images/icons/icon-comercio.png"></polizas-submenu>
                    </ng-container>
                    <ng-container *ngIf="mercaderias">
                        <polizas-submenu [lista]="polizasMercaderias" titulo="Embarcaciones" icono="assets/images/icons/icon-embarcaciones.png"></polizas-submenu>
                    </ng-container>
                </mat-nav-list>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-nav-list class="my-0" style="margin-top: -8px !important;">
        <a style="color: white" mat-list-item class="item-barra item-font" routerLink="/siniestros">
            <i class="fas fa-car-crash"></i>&nbsp;&nbsp;Siniestros
        </a>
    </mat-nav-list>
    <mat-accordion multi="true" [displayMode]="displayMode">
        <mat-expansion-panel class="no-shadow item-submenu item-font">
            <mat-expansion-panel-header fxLayout=" row " class="item-barra" [expandedHeight]="expandHeight " [collapsedHeight]="collapseHeight ">
                <mat-panel-title style="color: white" class="item-font">
                    <i class="fas fa-user"></i>&nbsp;&nbsp;Perfil
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="ml-0 " dense>
                <mat-list-item>
                    <a class="subitem-font" style="color: white" routerLink="/modificar-datos">
                        <i class="fas fa-users-cog"></i>&nbsp;&nbsp;Modificar Datos
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a class="subitem-font" style="color: white" routerLink="/configuracion">
                        <i class="fas fa-cog"></i>&nbsp;&nbsp;Configuracion
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-nav-list style="margin-top: -8px !important;">
        <a style="color: white" mat-list-item class="item-barra item-font" routerLink="/productor">
            <i class="fas  fa-user-lock"></i>&nbsp;&nbsp;Productor
        </a>
    </mat-nav-list>
    <mat-nav-list style="margin-top: -8px !important;">
        <a style="color: white" mat-list-item class="item-barra item-font">
            <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Cerrar sesión
        </a>
    </mat-nav-list>
</div>