<mat-form-field>
    <mat-select (selectionChange)="onSelectionChanged($event)" placeholder="Deportes" [formControl]="deportesForm" [(ngModel)]="checked" multiple>
        <mat-option *ngFor="let deporte of deportes" [value]="deporte">{{deporte.descripcion}}</mat-option>
    </mat-select>
</mat-form-field>