<mat-form-field>
    <mat-select (selectionChange)="onSelectionChanged($event)" placeholder="Nivel de estudios" [(ngModel)]="nivel_estudio">
        <mat-option *ngFor="let nivel_estudio of niveles_estudio" [value]="nivel_estudio">
            {{nivel_estudio.descripcion}}
        </mat-option>
    </mat-select>
</mat-form-field>