<mat-accordion multi="true">
    <mat-expansion-panel class="no-shadow item-submenu item-font">
        <mat-expansion-panel-header fxLayout=" row " class="item-barra">
            <mat-panel-title class="item-font">
                <img style="vertical-align: middle;" src="{{icono}}">&nbsp;&nbsp;{{titulo}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container>
            <mat-nav-list class="ml-0 " dense>
                <ng-container *ngFor="let poliza of lista">
                    <mat-list-item (click)="seleccionarPoliza(poliza)">
                        <a href="javascript:void(0);" class="subitem-font">
                            <img style="vertical-align: middle;" src="{{icono}}">&nbsp;&nbsp;Póliza {{poliza.nroPoliza}}
                        </a>
                    </mat-list-item>
                </ng-container>
            </mat-nav-list>
        </ng-container>
    </mat-expansion-panel>
</mat-accordion>