.item-font {
    color: #FFF;
    font-family: 'OpenSans-SemiBold';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
}

.nombre {
    color: #65c485;
    font-family: 'OpenSans-SemiBold';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
}

.item-barra {
    background-color: #2E343A;
    color: #FFF;
}

.item-submenu {
    background-color: #3A4348 !important;
    color: #FFF;
}

.subitem-font {
    font-family: 'OpenSans-Regular';
    color: #FFF;
    font-size: 14px;
}

.mat-expansion-panel-header {
    padding: 0 16px !important;
}

.item-font[_ngcontent-c10] {
    color: #FFF;
    font-family: 'OpenSans-SemiBold';
    font-size: 13px;
    font-weight: normal;
    font-style: unset;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}