<mat-progress-bar class="example-margin" mode="buffer" [value]="50" [bufferValue]="100">
</mat-progress-bar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top">
        <hdi-sidenav></hdi-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <hdi-topbar [sidenavComponent]='sidenav'></hdi-topbar>
        <hdi-breadcrumb></hdi-breadcrumb>
        <div class="container-fluid">
            <div *ngIf="loading">CARGANDO....</div>
            <router-outlet *ngIf="!loading"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>