<ng-container *ngIf="!show">
        <div flex fxLayout="row">
                <div fxFlex="100">
                    <h1 class="h1Cond">Mis datos</h1>
                    <hr class="hrPortal">
                </div>
            </div>
            <div flex fxLayout="row">
                <div fxFlex="100">
                    <h2>Datos personales</h2>
                    <hr class="hrGeneral">
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" fxLayoutGap.lg="150px">
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <nacionalidades [(asegurado)]="asegurado"></nacionalidades>
                            </div>
                        </div>
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container" style="overflow:hidden">
                                <label>Sexo</label>
                                <mat-radio-group>
                                    <mat-radio-button style="margin-right:5%;" disableRipple="true" [checked]="isHombre()" value="1" [(ngModel)]="asegurado.sexo">Hombre</mat-radio-button>
                                    <mat-radio-button disableRipple="true" [checked]="!isHombre()" value="2" [(ngModel)]="asegurado.sexo">Mujer</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" fxLayoutGap.lg="150px">
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <mat-form-field>
                                    <input matInput placeholder="Cuil" [(ngModel)]="asegurado.cuil">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <estado-civil [(asegurado)]="asegurado"></estado-civil>
                            </div>
                        </div>
                    </div>
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" fxLayoutGap.lg="150px">
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" [(ngModel)]="asegurado.fechaNacimiento">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" fxLayoutGap.lg="150px">
                                    <div fxFlex="100">
                                        <div fxFlex="calc(5% - 25px)" fxFlex.md="45" fxFlex.xs="100">
                                            <label>Cantidad de Hijos</label>
                                            <input matInput type="number" placeholder="Cantidad de Hijos" [min]="0" [max]="20" [(ngModel)]="asegurado.cantidadDeHijos">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex fxLayout="row" style="margin-bottom: 24px;">
                <div fxFlex="100">
                    <h2>Datos de contacto</h2>
                    <hr class="hrGeneral">
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" *ngFor="let telefono of asegurado.telefonos.telefono">
                        <div fxFlex="20" fxFlex.md="25" fxFlex.xs="100">
                            <div class="form-container">
                                <tipo-telefonos [(tipoTelefono)]="telefono.tipo"></tipo-telefonos>
                            </div>
                        </div>
                        <div fxFlex="33" fxFlex.md="50" fxFlex.xs="100">
                            <div class="form-container">
                                <mat-form-field>
                                    <input matInput placeholder="Número de telefono" [value]="telefono.numero">
                                </mat-form-field>
                            </div>
                        </div>
                        <!--<div fxFlex="100">
                            <a (click)="borrarTelefono(telefono)" href="javascript:void(0);">
                            Eliminar Teléfono</a>
                        </div>-->
                    </div>
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px">
                        <div fxFlex="100">
                            <a (click)="agregarTelefono()" href="javascript:void(0);">
                            Agregar Teléfono</a>
                        </div>
                    </div>
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" *ngFor="let mail of asegurado.emails.email">
                        <div fxFlex="20" fxFlex.md="25" fxFlex.xs="100">
                            <div class="form-container">
                                <!--<tipo-mails [(tipoMailSeleccionado)]="mail.tipo"></tipo-mails>-->
                                <mat-form-field>
                                    <mat-select (selectionChange)="onSelectionChanged($event)" placeholder="Tipo de e-mail" [(ngModel)]="mail.tipo">
                                        <mat-option *ngFor="let tipoMail of listaTipoMail" [value]="tipoMail.CodTipoCorreo">
                                            {{tipoMail.NomTipoCorreo}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="33" fxFlex.md="50" fxFlex.xs="100">
                            <div class="form-container">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="mail.mail" placeholder="E-mail" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                        Ingrese un email Valido
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                        El email es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px">
                        <div fxFlex="100">
                            <a (click)="agregarMail()" href="javascript:void(0);">
                            Agregar Email</a>
                        </div>
                    </div>
                </div>
            </div>
            <div flex fxLayout="row">
                <div fxFlex="100">
                    <h2>Datos complementarios</h2>
                    <hr class="hrGeneral">
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" fxLayoutGap.lg="150px">
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <niveles-estudio [(asegurado)]="asegurado"></niveles-estudio>
                            </div>
                        </div>
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <label>Fumador</label>
                                <mat-slide-toggle disableRipple="true" [checked]="asegurado.fumador" [(ngModel)]="asegurado.fumador">
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" fxLayoutGap.lg="150px">
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <ramas-actividad-economica [(asegurado)]="asegurado"></ramas-actividad-economica>
                            </div>
                        </div>
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <deportes [(asegurado)]="asegurado"></deportes>
                            </div>
                        </div>
                    </div>
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="25px" fxLayoutGap.lg="150px">
                        <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <profesiones [(asegurado)]="asegurado"></profesiones>
                            </div>
                        </div>
                        <div fxFlex="33" fxFçlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <mat-form-field>
                                    <input matInput placeholder="Hobbies" [(ngModel)]="asegurado.hobbies">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex fxLayout="row" class="mt-4">
                <br />
                <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                    <button mat-button class="btn btn-primary botonPago" (click)="actualizarDatos()">Guardar</button>
                </div>
            </div>
            <div flex fxLayout="row">
                <div fxFlex="100">
                    <h2>Otros</h2>
                    <hr class="hrGeneral">
                    <div flex fxLayout="row">
                        <div fxFlex="70" fxFlex.md="45" fxFlex.xs="100">
                            <p>¿Te gustaría modificar otros datos que no aparecen en esta pantalla? Completa el siguiente formulario para solicitar otros cambios a nuestros representantes.</p>
                        </div>
                    </div>
                    <div flex fxLayout="row">
                        <div fxFlex="70" fxFlex.md="45" fxFlex.xs="100">
                            <div class="form-container">
                                <mat-form-field>
                                    <textarea matInput placeholder="Mensaje" [(ngModel)]="mensaje" style="height: 200px;"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex fxLayout="row" class="mt-4">
                <br />
                <div fxFlex="33" fxFlex.md="45" fxFlex.xs="100">
                    <button mat-button (click)="actualizarDatosFiliatorios()" class="btn btn-primary botonPago" style="margin-bottom: 16px;">Guardar</button>
                </div>
            </div>
</ng-container>
<mat-progress-spinner *ngIf="show" mode="indeterminate" style="margin: auto;"></mat-progress-spinner>