<div fxFlex="30" fxFlex.md="75" fxFlex.sm="75" fxFlex.xs="100" style="margin: 0 auto; text-align:center">
    <mat-card class="example-card" style="text-align:center">
        <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap">
            <div fxFlex="100">
                <h1>Registrarme</h1>
            </div>
            <div fxFlex="100">
                <p>Accedé a toda la información de tus pólizas, tené a mano y descargá todos los documentos importantes. </p>
            </div>
            <div fxFlex="100">
                <datos-personales fxFlex="100"></datos-personales>
            </div>
            <div fxFlex="100">
                <email-component></email-component>
            </div>
            <div fxFlex="100">
                <password-component fxFlex="100"></password-component>
            </div>
            <div fxFlex="100">
                <mat-form-field style=" width:100%;">
                    <input matInput type="tel" placeholder="Número de Póliza" [(ngModel)]="poliza">
                </mat-form-field>
                <a (click)="abrirImagen()" href="javascript:void(0);">¿Dónde encontrar mi numero de póliza?</a>
            </div>
            <div fxFlex="100">
                <mat-card-actions>
                    <button mat-button (click)="onClick()">Guardar</button>
                </mat-card-actions>
            </div>
        </div>
    </mat-card>
</div>