<form method="post" [formGroup]="formGroup">
    <div fxFlex="30" fxFlex.md="75" fxFlex.sm="75" fxFlex.xs="100" style="margin: 0 auto; text-align:center">
        <mat-card class="example-card" style="text-align:center">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap">
                <div fxFlex="100">
                    <h1>Registrarme</h1>
                </div>
                <div fxFlex="100">
                    <p>Accedé a toda la información de tus pólizas, tené a mano y descargá todos los documentos importantes. </p>
                </div>
                <div fxFlex="100">
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap">
                        <div fxFlex="49">
                            <mat-form-field style="width:100%;">
                                <input matInput #message placeholder="Nombre" formControlName="nombre">
                                <!--<mat-hint align="end">{{message.value.length}} / {{maxLengthNombre}}</mat-hint>
                            <mat-error *ngIf="nombre.hasError('required')">Por favor, ingrese su nombre</mat-error>-->
                            </mat-form-field>
                        </div>
                        <div fxFlex="49">
                            <mat-form-field style="margin-left:10px; width:100%;">
                                <input matInput #message1 placeholder="Apellido" formControlName="apellido">
                                <!--<mat-hint align="end">{{message1.value.length}} / {{maxLengthApellido}}</mat-hint>
                            <mat-error *ngIf="apellido.hasError('required')">Por favor, ingrese su apellido</mat-error>-->
                            </mat-form-field>
                        </div>
                        <div fxFlex="49">
                            <mat-form-field style="width:100%;">
                                <mat-select placeholder="Tipo de documento" formControlName="tipoDocumento">
                                    <mat-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.codigo">
                                        {{tipoDocumento.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="49">
                            <mat-form-field style="margin-left:10px; width:100%;">
                                <input matInput type="number" #message2 placeholder="Número de Documento" formControlName="numeroDocumento">
                                <!--<mat-hint align="end">{{message2.value.length}} / {{maxLengthDocumento}}</mat-hint>
                            <mat-error *ngIf="numeroDocumento.hasError('required')">Por favor, ingrese un numero de documento válido</mat-error>-->
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex="100">
                    <mat-form-field style="width:100%;">
                        <input matInput #message3 placeholder="E-mail" formControlName="email">
                        <!--<mat-hint align="end">{{message3.value.length}} / {{maxLengthMail}}</mat-hint>-->
                    </mat-form-field>
                </div>
                <div fxFlex="100">
                    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap">
                        <form method="post" [formGroup]="formGroup">
                            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap">
                                <div fxFlex="100">
                                    <mat-form-field style="width:100%;">
                                        <input matInput type="password" #message4 placeholder="Contraseña" formControlName="password">
                                        <!--<mat-hint align="end">{{message4.value.length}} / {{maxLengthPassword}}</mat-hint>-->
                                        <mat-error align="start" *ngIf="password.hasError('required')">Por favor, ingrese una contraseña</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="100">
                                    <mat-form-field style="width:100%;">
                                        <input matInput #message5 type="password" placeholder="Repetir contraseña" formControlName="password2">
                                        <!--<mat-hint align="end">{{message5.value.length}} / {{maxLengthPassword}}</mat-hint>-->
                                        <mat-error *ngIf="password2.hasError('required')">Por favor, confirme su contraseña</mat-error>
                                        <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Las contraseñas no coinciden</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div fxFlex="100">
                    <mat-form-field style=" width:100%;">
                        <input matInput type="tel" placeholder="Número de Póliza" formControlName="poliza">
                    </mat-form-field>
                    <a (click)="abrirImagen()" href="javascript:void(0);">¿Dónde encontrar mi numero de póliza?</a>
                </div>
                <div fxFlex="100">
                    <mat-card-actions>
                        <button mat-button [disabled]="!formGroup.valid" (click)="onClick()">Guardar</button>
                    </mat-card-actions>
                </div>
            </div>
        </mat-card>
    </div>
</form>