<mat-form-field>
    <mat-select (selectionChange)="onSelectionChanged($event)" placeholder="Tipo de telefono" [(ngModel)]="tipoTelefono">
        <mat-option *ngFor="let tipoTelefono of listaTiposTelefono" [value]="tipoTelefono.codigo">
            {{tipoTelefono.descripcion}}
        </mat-option>
    </mat-select>
</mat-form-field>