<div fxFlex="70">
    <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap">
        <div fxFlex="100">
            <h5 style="color:green">{{titulo}}</h5>
        </div>
        <div fxFlex="100">
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="30px">
                <div fxFlex="calc(50%-30px)">
                    <p>{{body}}</p>
                </div>
            </div>
            <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="30px">
                <div fxFlex="calc(50%-30px)">
                    <button class="btn botonPago" mat-stroked-button (click)="close()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>