@font-face {
    font-family: 'HDI-Black';
    src: url(assets/fonts/HDI-GerlingSansCond-Black.ttf)
}

@font-face {
    font-family: 'HDI-Bold';
    src: url(assets/fonts/HDI-GerlingSans-Bold.ttf)
}

@font-face {
    font-family: 'HDI-Light';
    src: url(assets/fonts/HDI-GerlingSansLight.ttf)
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(assets/fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(assets/fonts/OpenSans-SemiBold.ttf)
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url(assets/fonts/OpenSans-Light.ttf)
}