<div flex fxLayout="row wrap" fxLayout.lt-md="column wrap">
    <div fxFlex="100">
        <h1 style="color:green">¿Cómo obtener el número de póliza?</h1>

    </div>
    <div fxFlex="100">
        <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="30px">
            <div fxFlex="calc(50%-30px)">
                <h5>Desde la póliza fisica</h5>
                <img style="width:100%" src="assets/images/Poliza.png">
            </div>
            <div fxFlex="50" fxFlex="calc(50%-30px)">
                <h5>Desde la App de HDI</h5>
                <img style="width:80%" src="assets/images/appmobile.png">
                <div flex fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="30px">
                    <div fxFlex="15">
                        <a href="https://play.google.com/store/apps/details?id=org.nativescript.hdiMobile"><img style="width:100%" src="assets/images/playstore.png"></a>
                    </div>
                    <div fxFlex="15">
                        <a href="https://itunes.apple.com/ar/app/hdi-m%C3%B3vil/id1437485121?mt=8"><img style="width:100%;" src="assets/images/appstore.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>