.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav {
    width: 225px;
    background-color: #3A4348 !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
    padding-left: 10px !important;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}