<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Profesiones" aria-label="Number" matInput [(ngModel)]="profesionSeleccionada.NomProf" [formControl]="profesionesControl" [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="onSelectionChanged($event)" autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.NomProf">
                {{option.NomProf}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>