<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Nacionalidades" [(ngModel)]="nacionalidadSeleccionada.NomNacion" aria-label="Number" matInput [formControl]="nacionalidadesControl" [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="onSelectionChanged($event)" autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.NomNacion">
                {{option.NomNacion}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>