<div fxFlex="50" style="margin: auto; margin-top:20%; text-align:center">
    <mat-card class="example-card" style="text-align:center">
        <mat-form-field>
            <mat-select placeholder="Tipo de documento" [(ngModel)]="tipoDocumento">
                <mat-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.codigo">
                    {{tipoDocumento.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left:10px">
            <input matInput placeholder="Número de Documento" [(ngModel)]="numeroDocumento">
        </mat-form-field>
        <!--<mat-form-field style="margin-left:10px; visibilidy:hidden;">-->
        <mat-form-field style="margin-left:10px; visibilidy:hidden;">
            <input matInput placeholder="headers" (ngModelChange)="setHeaders($event)" [(ngModel)]="headers">
        </mat-form-field>
        <mat-card-actions>
            <button mat-button (click)="onClick()">Ingresar</button>
        </mat-card-actions>
    </mat-card>
</div>