<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Rama Actividad Economica" aria-label="Number" matInput [formControl]="ramasControl" [(ngModel)]="ramaActividadEconomica.NomRamaAct" [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="onSelectionChanged($event)" autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.NomRamaAct">
                {{option.NomRamaAct}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>