<mat-form-field>
    <mat-select (selectionChange)="onSelectionChanged($event)" placeholder="Tipo de e-mail" [(ngModel)]="tipoMailSeleccionado">
        <mat-option *ngFor="let tipoMail of listaTipoMail" [value]="tipoMail.CodTipoCorreo">
            {{tipoMail.NomTipoCorreo}}
        </mat-option>
    </mat-select>
</mat-form-field>