<mat-toolbar color="red" class="header-box-shadow">
    <button mat-icon-button (click)="sidenavComponent.toggle()" fxShow.sm="true" fxShow.gt-sm="false">
        <mat-icon>menu</mat-icon>
    </button>
    <img style="height: 30px; margin-left: 8px;" fxShow.sm="true" fxShow.gt-sm="false" src="assets/images/hdi-seguros_logo.png">
</mat-toolbar>