<mat-form-field>
    <mat-select (selectionChange)="onSelectionChanged($event)" placeholder="Estado Civil" [(ngModel)]="estadoCivil">
        <mat-option *ngFor="let estadoCivil of listaEstadoCivil" [value]="estadoCivil">
            {{estadoCivil.NomEstCivil}}
        </mat-option>
    </mat-select>
</mat-form-field>