<div flex fxLayout="row wrap" style="margin-top: 64px;">
    <div fxFlex="100">
        <h1 class="text-center" style="margin-top: 140px; margin-bottom: 24px;font-size: 100px;">:(</h1>
    </div>
    <div fxFlex="100">
        <h4 class="text-center" style="font-size: 36px;"> Ups! Ocurrio un error...</h4>
        <p class="text-center" style="font-size:18px;">En estos momentos estamos mejorando la plataforma, podes volver a intentar más tarde o volver a la página principal.</p>
    </div>

</div>